<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ac.uk/kcl/inf/mdd/project/githubaction/xtext/Githubaction"
			class = "uk.ac.kcl.inf.mdd.project.githubaction.GithubactionPackage"
			genModel = "model/generated/Githubaction.genmodel" />
	</extension>
</plugin>
